<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>好多房 - 杭州摆摆网络科技有限公司</title>
    <meta name="keywords" content="杭州摆摆网络科技有限公司"/>
    <meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1">
		<!--公用文件引入-->
		<link href="../../assets/css/reset.css" type="text/css" rel="stylesheet">
		<link href="../../assets/css/public.css" type="text/css" rel="stylesheet">

		<!--登录注册css-->
		<link href="../../assets/css/registerLogin.css" type="text/css" rel="stylesheet">
	</head>
	<body>
		<div class="crossband login">
			<div class="content">
				<div class="left back"><img src="../../assets/img/nav_back_icon@2x.png"></div>
				<span class="font-orange">登录</span>
			</div>
		</div>
		
		<div class="text-area">
			<label>
				<i class="icon-name"></i>
				账号：<input type="text" placeholder="请输入您的手机号" class="username" name="username" id="username"/>
			</label>
			<label>
				<i class="icon-pass"></i>
				密码：<input type="password" placeholder="请输入您的账号密码" class="password" name="password" id="password"/>
			</label>
		</div>
		
		<div class="content btn input-before">登录</div>
		<div class="content clearfix margin-top-20">
			<span class="left font-orange margin-left-20" id="register">注册</span>
			<span class="right font-gray margin-right-25" id="forgetpassword">忘记密码</span>
		</div>

		<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
		<script src="../../assets/js/public.js"></script>
	<script>
		$(function(){
			var username;
			var password;
			function focus(){ 
				username = $('.username').val();
				password = $('.password').val();
				if(username != '' && password.length>=6){
					$('.input-before').addClass('input-after');
				}else{
					$('.input-before').removeClass('input-after');
				}
			}
			$('input').bind('input propertychange', function() {
				focus();
			});
			
			$('.input-before').click(function(){
				if(username != '' && password != ''){
					location.href = '../homePage/homePage.html';
				}
			})
			
			$('#register').click(function(){
				location.href = 'register.html';
			})
			
			$('#forgetpassword').click(function(){
				location.href = 'forgetPassword.html';
			})
		})
	</script>
	</body>
</html>
