<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>好多房 - 杭州摆摆网络科技有限公司</title>
    <meta name="keywords" content="杭州摆摆网络科技有限公司"/>
    <meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1">
		<!--公用文件引入-->
		<link href="../../assets/css/reset.css" type="text/css" rel="stylesheet">
		<link href="../../assets/css/public.css" type="text/css" rel="stylesheet">
		
		<!--登录注册css-->
		<link href="../../assets/css/registerLogin.css" type="text/css" rel="stylesheet">
	</head>
	<body style="background-color: #b2b2b2;">
		<div class="info-box">
			<div class="tit">注册完成，等待后天确认</div>
			<div class="btn-require font-orange">
				确认
			</div>
		</div>

		<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
		<script src="../../assets/js/public.js"></script>
		<script>
			$('.btn-require').click(function(){
				location.href = '.../homePage/homePage.html';
			})
		</script>
	</body>
</html>
