<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
<title>好多房 - 杭州摆摆网络科技有限公司</title>
    <meta name="keywords" content="杭州摆摆网络科技有限公司"/>
    <meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1">
		<link href="../../assets/css/reset.css" type="text/css" rel="stylesheet">
		<link href="../../assets/css/public.css" type="text/css" rel="stylesheet">
		
		<!--登录注册css-->
		<link href="../../assets/css/registerLogin.css" type="text/css" rel="stylesheet">
	</head>
	<body>
		<div class="crossband login">
			<div class="content">
				<div class="left back"><img src="../../assets/img/nav_back_icon@2x.png"></div>
				<span class="font-orange">转租人</span>
			</div>
		</div>
		<div class="content perfect-info">必填项</div>
		<div class="perfect-information-box">
			<div class="addHead">添加头像</div>
			<label class="margin-top-12"><input type="text" placeholder="姓名"></label>
			<label><input type="text" placeholder="联系方式"></label>
			<div class="oneli">房租租赁合同</div>
		</div>
		<div class="content perfect-info">选填项</div>
		<div class="line"></div>
		<div class="perfect-information-box">
			<label><input type="text" placeholder="微信号码"></label>
			<div class="oneli">名片正面</div>
		</div>
		<div class="content btn input-after margin-top-45">完成</div>


		<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
		<script src="../../assets/js/public.js"></script>
		<script>
			$('.input-after').click(function(){
				location.href = 'registerInfoSuccess.html';
			})
		</script>
	</body>
</html>
