<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>好多房 - 杭州摆摆网络科技有限公司</title>
    <meta name="keywords" content="杭州摆摆网络科技有限公司"/>
    <meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1">
		<!--公用文件引入-->
		<link href="../../assets/css/reset.css" type="text/css" rel="stylesheet">
		<link href="../../assets/css/public.css" type="text/css" rel="stylesheet">
		
		<!--my.css-->
		<link href="../../assets/css/My.css" type="text/css" rel="stylesheet">
	</head>
	<body>
		<div class="crossband login">
			<div class="content">
				<div class="left back"><img src="../../assets/img/nav_back_icon@2x.png"></div>
				<span>我发布的需求</span>
			</div>
		</div>
		
		<ul class="content information">
			<li>
				<div class="tit">一个新的租房需求</div>
				<div class="main-contetn">
					需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m<sup>2</sup>/天左右，附近有地铁
				</div>
				<div class="btn-know-all">了解详情</div>
			    <p class="time">08/04/13:06</p>
			</li>
			
		</ul>

		<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
		<script src="../../assets/js/public.js"></script>
	</body>
</html>
