<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>好多房 - 杭州摆摆网络科技有限公司</title>
    <meta name="keywords" content="杭州摆摆网络科技有限公司"/>
    <meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1">
		<!--公用文件引入-->	
		<link href="../../assets/css/reset.css" type="text/css" rel="stylesheet">
		<link href="../../assets/css/public.css" type="text/css" rel="stylesheet">
		
		<!--引入预约css文件-->
		<link href="../../assets/css/appointment.css" type="text/css" rel="stylesheet">
		<style>
			.notes{
				margin:70px auto 12px;
				color:#b4b4b4;
				text-align: center;
			}
			.add-img{
				width:220px;
				height:144px;
				border-radius: 4px;
				background:url(../../assets/img/content_icon_plus@2x.png) center center no-repeat #878787;
				background-size:45px;
				margin-bottom: 22px;
				color:#FFFFFF;
				text-align: center;
				line-height: 220px;
			}
		</style>
	</head>
	<body>
		<div class="mask">
			<!--取消上传合同-->
			<div class="info-box cancel">
				<div class="tit">是否取消上传合同</div>
				<div class="btn-require font-orange">
					<div class="btn-cancel">取消</div>
					<div class="btn-ok">确认</div>
				</div>
			</div>
			<!--发布-->
			<div class="info-box publish">
				<div class="tit">是否确认发布</div>
				<div class="btn-require font-orange">
					<div class="btn-cancel">取消</div>
					<div class="btn-ok">确认</div>
				</div>
			</div>
			
			<!--发布成功-->
			<div class="info-box published">
				<div class="tit">合同书上传成功，后台正在审核</div>
				<div class="btn-require font-orange">
					确定
				</div>
			</div>
		</div>
		<div class="crossband">
			<div class="content">
				<div class="left cross-cancel">取消</div>
				<span>上传合同书</span>
				<div class="right font-orange cross-publish">上传</div>
			</div>
			<!--content_icon_plus@2x-->
		</div>
		
		<div class="notes">请按照要求添加照片</div>
		<div class="add-img photo01">合同第一页</div>
		<input type="file" class="img-input img01" style="display: none;">
		
		<div class="add-img photo02">合同最后一页</div>
		<input type="file" class="img-input img02" style="display: none;">

		<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
		<script src="../../assets/js/public.js"></script>
	<script>
		$('.photo01').on('click',triggerInput);
		$('.photo02').on('click',triggerInput);
		
		function triggerInput(){
			$(this).next().trigger('click');
		}
		
		
		//关于取消发布和发布
		$('.cross-cancel').click(function(){
			$('.mask').show();
			$('.cancel').show();
			$('.cancel .btn-cancel').click(function(){
				$('.mask').hide();
				$('.cancel').hide();
			})
			$('.cancel .btn-ok').click(function(){
				history.back();
			})
		})
		
		$('.cross-publish').click(function(){
			$('.mask').show();
			$('.publish').show();
			$('.publish .btn-cancel').click(function(){
				$('.mask').hide();
				$('.publish').hide();
			})
			$('.publish .btn-ok').click(function(){
				$('.publish').hide();
				$('.published').show();
			})
		})
		
		$('.published .btn-require').click(function(){
			$('.mask').hide();
			history.go(-2);
		})
	</script>
	</body>
	
</html>
